.container {
  background-image: linear-gradient(darkgray, black);
  position: fixed;
  left: 0;
  width: 25vw;
  height: 100vh;
}

.header {
  background-color: black;
  position: fixed;
  left: 0;
  top: 0;
  width: 25vw;
  height: 10vh;
}