.container {
  position: fixed;
  right: 0;
  height: 100vh;
  width: 75vw;
  background-color: lightgray;
}

.title {
  margin-top: 15px;
  margin-bottom: 10px;
  text-align: center;
  font-size: 60px;
}

.subtitle {
  margin-top: 0px;
  text-align: center;
  font-size: 25px;
}